<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fontawesome.com/">
<script  src="https://use.fontawesome.com/3903c9d7fd.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" rel="stylesheet">
 <link rel="stylesheet" href="index.css">
</head>
<body>
<header>
 
   <div class="fixed-header">
     <div class="titre"><h3>Sayara parc</h3></div> 
       <div class="search">
    
                 <div>
                 <input type="text" placeholder="Search . . ." required>
                 </div>
              </div>
             
  <div class="notification-box">
    <span class="notification-count">6</span>
    <div class="notification-bell">
      <span class="bell-top"></span>
      <span class="bell-middle"></span>
      <span class="bell-bottom"></span>
      <span class="bell-rad"></span>
    </div>
  </div>
        
         <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn"><i class="fa fa-user"></i></button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#home"><i class="fa fa-user">profile</i></a>
    <a href="#about"><i class="fa fa-cog">setting</i></a>
    <a href="#about"><i class="fa fa-sign-out"> Exit</i></a>
  
  </div>
</div>
      
                  
                  
       <div class="separador">
                        
        </div>
        <ul class="nav">
     <li>
    <a href="https://jasminegump.com" target = "_blank">
      <i class="fa fa-dashboard">
        <div class = "circle">
        </div>
      </i>
      <div class = "title">dashbord</div>
    </a>
  </li>
  
  <li>
    <a href="https://twitter.com/ladyjellington" target = "_blank">
      <i class="fa fa-car">
        <div class = "circle"></div>
      </i>
      <div class = "title">Car</div>
    </a>
  </li>
  
  <li>
    <a href="https://codepen.io/ladyjellington" target = "_blank">
      <i class="fa fa-users">
        <div class = "circle"></div></i>
      <div class = "title">user</div>
    </a>
  </li>
  
  <li>
    <a href="https://github.com/jasminegmp" target = "_blank">
        <i class="fa fa-gas-pump">
          <div class = "circle"></div></i>
        <div class = "title">fuel</div>
      </a>
  </li>
  <li>
    <a href="https://github.com/jasminegmp" target = "_blank">
        <i class="fa fa-car-burst">
          <div class = "circle"></div></i>
        <div class = "title">panne</div>
      </a>
  </li>
  <li>
    <a href="https://github.com/jasminegmp" target = "_blank">
        <i class="fa fa-cog">
          <div class = "circle"></div></i>
        <div class = "title">maintenance</div>
      </a>
  </li>
  <div class="background"></div>


        
     </div>
     </header>
     
            
            
   

          
         
 

                       
                     
  
  <main>
        
  
 <section>
<article id="carre1"> <i></i></article>
  <article id="carre2"></article>
  <article id="carre3"></article>
  <article id="carre4"></article>
  <article id="carre5"></article>
   </section>
   <div class="more-info-box bg-green fg-white">
    <div class="content">
        <h2 class="text-bold mb-0">53%</h2>
        <div>Bounce Rate</div>
    </div>
    <div class="icon">
        <span class="mif-chart-bars"></span>
    </div>
    <a href="#" class="more"> More info <span class="mif-arrow-right"></span></a>
</div>
   
  </main>
  
    

   
<div class="fixed-footer">
        <div class="cont">create by www.linkedin.com/in/
azza-ferjani-764090243

        </div>        
    </div>
    <script  src="index.js"></script>

</body>
</html>


